
#editor{
    border: 1px solid gray;
    padding: 10px;
}

#hint{
    display: flex;
    flex-flow: column;
    border: 1px dashed gray;
    min-width: 100px;
    transform: translate3d(-5px,5px,0);
    overflow: scroll;
    max-height: 136px;
}

#hint .option{
    background: white;
    color: gray;
    padding: 7px 14px 7px 7px;
    font-weight: bold;
    border: 1px solid transparent;
}
#hint .option:hover{
    cursor: pointer;
}
#hint .option.selected{
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background: gray;
    color: white;
}

#hint .selected.option:last-child, {
    border-bottom: 1px solid transparent; 
}
#hint .selected.option:first-child{
    border-top: 1px solid transparent; 
}